body {
    /* margin: 0px;
    padding: 0px; */
    margin: auto;
}

.main-container {
    /* border: 1px solid black; */
    width: 100%;
    /* height: 1109px; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    background-color: #EBE9E6;
}


.header {
    /* border: 1px solid blue; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 72px;
    width: 100%;
    background-color: #f5f5f5;
}

.header-box {
    display: flex;
    align-items: center;
}



.header-box {
    /* border: 1px solid black; */
    gap: 5px;
    /* width: 56px; */
    height: 36px;
    flex-shrink: 0;
    color: #8F887C;
    font-family: "Josefin Sans";
    font-size: 28.736px;
    font-weight: 700;
    /* line-height: 100%; */
    letter-spacing: 1.437px;
    margin: auto;

}


.mcq-div {
    /* border: 1px solid palevioletred; */
    color: #4C4B49;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
    width: 184px;
    height: 28px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 19px;

}   


.main-page {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
    width: 705px;
    margin: auto;

}

.instructions {
    line-height: 150%;
    text-align: left;
    /* height: 620px; */
    margin: auto;
    margin-bottom: 77px;
    width: 705px;
    /* height: 620px; */
    border: 1px solid white;
    /* padding: 80px; */
    background-color: #F9F7F2;
}

.info1{
    /* border: 1px solid black; */
    height: 22px;
    width: 471px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 16px;
}
.info2{
    /* border: 1px solid blue; */
    height: 21px;
    width: 471px;
    margin: auto;
}
.ul-div{
    width: 471px;
    /* border: 1px solid red; */
    margin: auto;
}
.info3{
    /* border: 1px solid green; */
    width: 471px;
    margin: auto;
}
.info4{
    /* border: 1px solid black; */
    width: 471px;
    margin: auto;
    margin-top: 8px;
}


.line{
    /* border: 1px solid black; */
    background-color: #4C4B49;
    width: 620px;
    height: 2px;
    margin: auto;
    margin-top: 40px;

}


.start-button {
    margin-top: 39px;
    margin-bottom: 49px;
    margin-left: 273px;
    margin-right: 273px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FEEEB4;
    border: 1px solid #F4D150;
    border-radius: 5px;
    font-family: Inter;
    width: 159px;
    height: 54px;
    /* cursor: pointer; */
}
.start-button:hover {
    background-color: #e67e22;  
}

.footer {
    /* border: 1px solid blue; */
    background-color: #4C4B49;
    display: flex;
    width: 100%;
    height: 171px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-self: stretch; */
    /* text-align: center; */
    /* padding: 46px 0px 73px 0px; */
}

.footerHeader {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.footerName {
    font-family: "Inria Sans";
    line-height: 350%;
    color: white;
}


@media (max-width:576px){
    body{
        margin: auto;
    }

    .header{
        /* border: solid 1px green; */
        width: 576px;
        margin: auto;
    }
    .mcq-div {
        width: 184px;
        font-size: 24px;
        /* font-size: 18px; */
        /* margin-left: 90px; */
    }
    .main-page{
        width: 320px;
        margin: auto;

    }
    .instructions {
        width: 320px;
        margin: auto; 
        margin-bottom: 80px;
        /* margin-bottom: 80px; */
    }
    .info1{
        /* border: 1px solid black; */
        margin-top: 40px;
        margin-bottom: 15px;
        text-align: center;
        width: 280px;
        height: 22px;

    }
    .info2{
        width: 280px;
        height: 42px;
    }
    .ul-div{
        width: 280px;
        height: 378px;
    }

    .info3{
        /* border: 1px solid black; */
        width: 280px;
        margin-top: 130px;
    }
    .info4{
        /* border: 1px solid black; */
        margin-top: 8px;
        width: 280px;
        height: 42px;
    }
    
    .line{
        width: 280px;
    }

    .start-button{
        width: 159px;
        margin-left: 80px;
        margin-right: 81px;
    }


    .footer{
        width: 576px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
} 

