body {
    /* margin: 0px;
    padding: 0px; */
    margin: auto;
}
* {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EBE9E6;
}



.Header{
        display: flex;
        height: 72px;
        width: 100%;
        background-color: #FCFAFA;
}

.header-box {
    gap: 5px;
    height: 36px;
    flex-shrink: 0;
    color: #8F887C;
    font-family: "Josefin Sans";
    font-size: 28.736px;
    font-weight: 700;
    /* line-height: 100%; */
    letter-spacing: 1.437px;
    margin: auto;
    display: flex;
    align-items: center;

}


.main-header {
    background-color: #FCFAFA;
}



.mcq-div {
    color: #4C4B49;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
    width: 184px;
    height: 28px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 19px;

}


.main-page {
    width: 705px;
    margin: auto;

}

.footer-content{
    height: 171px;
    border: solid 1px #4C4B49;
    background-color: #4C4B49;
}
.main-row{
    height: 57px;
    margin-top: 46px;
    margin-bottom: 68px;
}
.footer-text{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #F9F7F2;
}
.footer-headline{
    font-size: 14px;
    text-align: center;
    color: #EBE9E6;
   
} 



@media (max-width:576px) {
    body {
        margin: auto;
    }

    .header {
        width: 576px;
        margin: auto;
    }

    .mcq-div {
        width: 184px;
        font-size: 24px;
    }

    .main-page {
        width: 320px;
        margin: auto;

    }

}


.instraction{
    background-color:  #EBE9E6;
    padding-bottom: 143px;
}
.headline{
    font-weight: 600;
    text-align: center;
    padding: 55px 0px 19px 0px;
    color: var(--Dark-b, #4C4B49);

}
@media(max-width:576px) {
    .headline{
        padding: 40px 34px; 
    }    
}

.instraction-container{
    width: 705px;
    margin: auto;
    padding: 40px 0px 49px 0px;
    background-color:#F9F7F2;
}
@media (max-width:576px) {
    .instraction-container{
        width: auto;
        margin: auto 20px;

    }
    
}
.instraction-content{
    width: 471px;
    margin: auto;
}
@media(max-width:576px) {
    .instraction-content{
        width: auto;
        margin: auto 20px;
    }
    
}
.context{
    font-size: 18px;
    font-weight: 700;
    color: #4C4B49;

}
@media (max-width:576px) {
    .context{
        text-align: center;
    }
}

.instraction-text{
    margin-top: 16px;
    font-size: 14px;
    color: #4C4B49;
}
.test-instraction{
    width: 475px;
    margin-top: 8px;
    font-size: 14px;
    color: #4C4B49;
}

@media(max-width:576px) {
    .test-instraction{
        width: auto;
    }
    
}
.test-url{
    padding-left: 25px;
    margin-bottom: 0;
    color: #4C4B49;

}
.test-rule{
    margin-top: 8px;
    font-size: 14px;
    color: #4C4B49;

}
.last-instraction{
    margin-top: 8px;
    font-size: 14px;
    color: #4C4B49;

}
.instruction-line{
    width: 620px;
    height: 1px;
    background-color:#4C4B49 ;
    margin: auto;
    margin-top: 40px;
}
@media (max-width:576px) {
    .instruction-line{
        margin: auto 20px;
        width: auto;
        margin-top: 40px;

    }
    
}
.start-button{
    text-align: center;
   
}
.click{
    width: 159px;
    margin-top: 39px;
    font-size: 18px;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    padding: 16px 0px 16px 0px;
    border-radius: 4px;
    border: 2px solid  #F4D150;
    background-color:  #FEEEB4;
    cursor: pointer;

} 



/* 
@media {
    mobile-only {
    }
    .desktop-only {
    }
    .mobile-only {
    display: none;
}

@media (max-width: 576px) {
    .mobile-only {
        display: block;
    }
}


.desktop-only {
    display: block;
}

@media (max-width: 576px) {
    .desktop-only {
        display: none;
    }
}
    
} */
