body {
    /* margin: 0px;
    padding: 0px; */
    margin: auto;
}
* {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EBE9E6;
}



.Header{
        display: flex;
        height: 72px;
        width: 100%;
        background-color: #FCFAFA;
}

.header-box {
    gap: 5px;
    height: 36px;
    flex-shrink: 0;
    color: #8F887C;
    font-family: "Josefin Sans";
    font-size: 28.736px;
    font-weight: 700;
    /* line-height: 100%; */
    letter-spacing: 1.437px;
    margin: auto;
    display: flex;
    align-items: center;

}


.main-header {
    background-color: #FCFAFA;
}



.mcq-div {
    color: #4C4B49;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
    width: 184px;
    height: 28px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 19px;

}


.main-page {
    width: 705px;
    margin: auto;

}



.instructions {
    line-height: 150%;
    text-align: left;
    margin: auto;
    margin-bottom: 77px;
    width: 705px;
    border: 1px solid #F9F7F2;
    background-color: #F9F7F2;
    font-size: 14px;

}

.info1 {
    /* border: 1px solid black; */
    height: 22px;
    width: 471px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 18px;

}

.info2 {
    /* border: 1px solid blue; */
    height: 21px;
    width: 471px;
    margin: auto;
}

.ul-div {
    width: 471px;
    /* border: 1px solid red; */
    margin: auto;
}

.info3 {
    /* border: 1px solid green; */
    width: 471px;
    margin: auto;
}

.info4 {
    /* border: 1px solid black; */
    width: 471px;
    margin: auto;
    margin-top: 8px;
}


.line {
    /* border: 1px solid black; */
    background-color: #4C4B49;
    width: 620px;
    height: 2px;
    margin: auto;
    margin-top: 40px;

}


.start-button {
    margin-top: 39px;
    margin-bottom: 49px;
    margin-left: 273px;
    margin-right: 273px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FEEEB4;
    border: 1px solid #F4D150;
    border-radius: 5px;
    font-family: Inter;
    width: 159px;
    height: 54px;
}




.footer-content{
    height: 171px;
    border: solid 1px #4C4B49;
    background-color: #4C4B49;
}
.main-row{
    height: 57px;
    margin-top: 46px;
    margin-bottom: 68px;
}
.footer-text{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #F9F7F2;
}
.footer-headline{
    font-size: 14px;
    text-align: center;
    color: #EBE9E6;
   
} 



@media (max-width:576px) {
    body {
        margin: auto;
    }

    .header {
        width: 576px;
        margin: auto;
    }

    .mcq-div {
        width: 184px;
        font-size: 24px;
    }

    .main-page {
        width: 320px;
        margin: auto;

    }

    .instructions {
        width: 320px;
        margin: auto;
        margin-bottom: 80px;
    }

    .info1 {
        margin-top: 40px;
        margin-bottom: 15px;
        text-align: center;
        width: 280px;
        height: 22px;

    }

    .info2 {
        width: 280px;
        height: 42px;
    }

    .ul-div {
        width: 280px;
        height: 378px;
    }

    .info3 {
        width: 280px;
        margin-top: 130px;
    }

    .info4 {
        margin-top: 8px;
        width: 280px;
        height: 42px;
    }

    .line {
        width: 280px;
    }

    .start-button {
        width: 159px;
        margin-left: 80px;
        margin-right: 81px;
        cursor: pointer;

    }

}

/* 
@media {
    mobile-only {
    }
    .desktop-only {
    }
    .mobile-only {
    display: none;
}

@media (max-width: 576px) {
    .mobile-only {
        display: block;
    }
}


.desktop-only {
    display: block;
}

@media (max-width: 576px) {
    .desktop-only {
        display: none;
    }
}
    
} */


