.question-num {
    height: 20px;
    display: flex;
    justify-content: space-between;
    /* font-size: 16px; */
    font-style: normal;
    margin-bottom: 16px;
    margin-top: 40px;
}

@media (max-width: 576px) {
    .question-num {
        /* width: 315px; */
        /* border: 2px solid blue; */
        margin: auto;
        margin-top: 26px;
        margin-bottom: 16px;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    width: 894px;
    margin-left: 103px;
    margin-right: 203px;
}

@media (max-width: 576px) {
    .main {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}



.question-title {
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}



.score-num {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 150%; */
}




.question-content {
    padding: 40px;
    background: #FCFAFA;
    border-radius: 12px;
    /* border: 1px solid black; */
}

@media (max-width: 576px) {
    .question-content {
        /* border: 1px solid blue; */
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.questions {
    width: 560px;
    /* margin-top: 66px; */
    padding-top: 26px;
    margin-left: 50px;
}

@media (max-width: 576px) {
    .questions {
        display: block;
        width: 100%;
        margin: auto;
        padding-top: 0px;

    }
}

.question {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
}


.options {
    margin-top: 28px;
}


.question-box {
    display: flex;
    margin-top: 12px;
}


.circle {
    width: 20px;
    height: 20px;
}


.option {
    margin-left: 16px;
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
}

.option-text {
    margin-left: 16px;
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
}