

.timerfilter-container{
    width: 284px;
    
}
.filter-content{
    height: 375px ;
    border-radius: 12px;
    border: 1px dashed  #777671;
    background-color:  #F9F7F2;
}
.small-text{
    margin: auto;
    height: 19px;
    width: 197px;
    color: #4C4B49;
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 16px;
    font-weight: 700;
}
.inside-function{
    width: 202px;
    height: 230px ;
    margin: auto;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 400;
}
.score-items{
    height: 77px;
    width: 201px;
}
.fillter-values{
    display: flex;
    height: 42px;
    margin: 16px 0px 48px 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    /* gap: 19px; */
    justify-content: space-between;

}
.fillter-score{
    width: 42px;
    text-align: center;
    border-radius:4px;
    color: #F9F7F2;
    line-height: 42px;
    border: solid 1px #4C4B49;
    background-color:#4C4B49;
}

.fillter-score1{
    width: 42px;
    text-align: center;
    border-radius:4px;
    line-height: 42px;
    color:#1F1E1C;
    border: solid 1px #F4D150;
    background-color: #FEEEB4;
}
.fillter-score2{
    width: 42px;
    text-align: center;
    border-radius:4px;
    color: #1F1E1C;
    line-height: 42px;
    border: solid 1px #F4D150;
    background-color: #FEEEB4;
}
.question-count{
    margin-top: 16px ;
    height: 68px;
}

.question-attempt{
    margin-right: 6px;
    padding: 6px 12px ;
    float: left;
    color: white;
    border-radius: 54px;
    border: 1px solid  #4C4B49;
    background-color: #4C4B49;
}
.question-text{
    font-size: 14px;
    line-height: 120%;
}
.question-attempt1{
    float: left;
    padding: 6px 12px;
    color: #1F1E1C;
    border-radius: 54px;
    border: 1px solid  #F4D150;
    background-color:  #FEEEB4;

}
.question-text1{
    font-size: 14px;
    line-height: 120%;
}
.question-unattempt{
    height: 29px;
    float: left;
    margin-top: 6px;
    border-radius: 54px;
    padding: 6px 12px;
    color: #1F1E1C;
    text-align: center;
    border: 1px solid #F4D150;
    background-color:  #FEEEB4;

}
.question-text2{
    font-size: 14px;
    line-height: 120%;
}


@media (max-width: 576px) {
    .timerfilter-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 183px;
    }
}


@media (max-width: 576px) {
.filter-button {
    display: flex;
    width: 104px;
    height: 39px;
    border-radius: 6px;
    border: 2px solid #E0DFDA;
    background: #FCFAFA;
    align-items: center;
    justify-content: center;

}

.line {
    margin: auto;
    border-top: 3px solid #777671;
    margin-top: 3px;
}

.one {
    margin-top: 0px;
    width: 16px;

}

.two {
    width: 13px;
}

.three {
    width: 10px;
}

.filter-text {
    color: #4C4B49;
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 12px;
}
}



