.filter-all {
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #F9F7F2;
    background: #4C4B49;
    border-radius: 4px;
}

.filter-marks {
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 4px;
    border: #F4D150;
    background: #FEEEB4;
}

.filter-subtitle {
    font-family: "Inria Sans";
    font-size: 16px;
    width: 148px;
    font-weight: 400;
    margin-top: 48px;
    margin-bottom: 6px;
}

.total-ques {
    margin-top: 16px;
    display: flex;
    width: 206px;
    flex-wrap: wrap;
}

.attempt-all {
    display: flex;
    padding: 1px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: #4C4B49;
    background: #4C4B49;
    color: #F9F7F2;
    font-family: "Inria Sans";
    font-size: 14px;
}

.attempt {
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 14px;
    border-radius: 54px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
    margin-top: 6px;
    margin-left: 8px;
}


.filter {
    width: 284px;
    height: 375px;
    border: 1px dashed #777671;
    margin-top: 180px;
    background: #F9F7F2;
    border-radius: 12px;
    margin-left: 103px;
}

.filter-div {
    padding: 48px;
    padding: 36px;
    width: 197px;
    height: 285px;
    position: relative;
}



.filter-heading {
    color: #4C4B49;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-score {
    height: 19px;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    margin-top: 35px;
}



.timerfilter-container{
    border: 1px solid blue;
    /* display: flex;
    justify-content: space-between; */
}

@media (max-width: 576px) {
.filter-button {
    display: flex;
    width: 104px;
    height: 39px;
    border-radius: 6px;
    border: 2px solid #E0DFDA;
    background: #FCFAFA;
    align-items: center;
    justify-content: center;
    margin-left: 234px;
    margin-top: 47px;

}


.line {
    margin: auto;
    border-top: 3px solid #777671;
    margin-top: 3px;
}

.one {
    margin-top: 0px;
    width: 16px;

}

.two {
    width: 13px;
}

.three {
    width: 10px;
}

.filter-text {
    color: #4C4B49;
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 12px;
}
}