.header-row {
    background: #FCFAFA;
    /* border: 1px solid black; */
    height: 72px;


}

.header-box {
    display: flex;
    width: 1200px;

    border: 1px solid black;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    position: relative;
    height: 72px;
}

@media (max-width:576px) {
    .header-box {
        display: block;
        width: 100%;
        text-align: center;
        border: none;
        height: 146px;
        margin: auto;
        background: var(--Light-a, #FCFAFA);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
    }

}



.header {
    width: 1200px;
    /* border: 1px solid red; */
}

.logo-text {
    display: flex;
    width: 112px;
    height: 36px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 18px;
    margin-bottom: 18px;
}

@media (max-width: 576px) {

    .logo-text {
        margin: auto;
        margin-top: 18px;
        margin-bottom: 18px;
        
    }

}


.logo {
    height: 36px;
}

.header-title {
    color: #8F887C;
    font-family: "Josefin Sans";
    font-size: 28.736px;
    letter-spacing: 1.437px;
    margin-left: 8px;
    /* border: 1px solid black; */

}

.pagination {
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

@media (max-width:576px) {
    .pagination {
        display: flex;
        /* width: 320px; */
        /* border: 1px solid black; */
        justify-content: center;
        text-align: center;
        margin: auto;

    }
}



.pageNo {
    border: 2px solid #E0DFDA;
    width: 28px;
    height: 28px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 16px;
}

.previous {
    display: none;
}

.dotespace {
    display: none;
}


@media(max-width: 576px) {
    .dotespace {
        /* border: 2px solid #E0DFDA; */
        width: 10px;
        height: 30px;
        display: flex;
        border: none;

    }

    .pageNo {
        justify-content: center;
        align-items: center;
        margin-left: 26px;
    }

    .pointer {
        height: 30px;
        width: 30px;
        background: #4C4B49;
        color: #EBE9E6;
        border: 1px solid #4C4B49;

    }

    .previous {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 0px
    }

    /* .top {
        border-top: 1px solid #EBE9E6;
        width: 100%;
        background: var(--Light-a, #FCFAFA);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);

    } */


    .des-only {
        display: none;
    }

    .number {
        display: none;
    }

}

.submit-button-content{
    width: 130px;
    height: 54px;
    background-color: #FEEEB4;
    border: 2px solid #F4D150;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    display: flex;
    justify-content: center;
    align-items: center;
}


.submit-button {
    border-radius: 4px;
    text-decoration: none;
    color: #1F1E1C;
    font-family: Inter;
    font-size: 18px;
    font-size: 18px;
    font-weight: 400;

}



@media(max-width: 576px) {
    .submit-button-content {
        position: fixed;
        bottom: 20px;
        right: 21px;
        margin-left: 0;
        z-index: 2;
    }
}




.logo-pagination {
    display: flex;
    width: 994px;
    /* border:1px solid black; */
    height: 72px;
    justify-content: space-between;
}


@media (max-width: 576px) {
    .logo-pagination {
        display: block;
        width: 100%;
        border-top: 1px solid #EBE9E6;
        background: var(--Light-a, #FCFAFA);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);

    }
}