.header-row {
    background: #FCFAFA;
}

.header-box {
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    height: auto;
    font-weight: 700;
    align-items: center;
}


@media (max-width:576px) {
    .header-box {
        display: block;
        width: 100%;
        text-align: center;
        border: none;
        height: auto;
        margin: auto;
        background: #FCFAFA;
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
    }

}



.logo-box {
    display: flex;
    width: 112px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .logo-box {
        margin: auto;  
        height: 72px;      
    }

}


.logo {
    height: 36px;
}

.header-title {
    color: #8F887C;
    font-family: "Josefin Sans";
    font-size: 28.736px;
    letter-spacing: 1.437px;
    margin-left: 8px;

}



.submit-button-content{
    width: 130px;
    height: 54px;
    background-color: #FEEEB4;
    border: 2px solid #F4D150;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 576px) {
    .submit-button-content {
        position: fixed;
        bottom: 20px;
        right: 21px;
        margin-left: 0;
        z-index: 2;
    }
}

.submit-button {
    border-radius: 4px;
    text-decoration: none;
    color: #1F1E1C;
    font-family: Inter;
    font-size: 18px;
    font-size: 18px;
    font-weight: 400;

}




