* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    background-color: #EBE9E6;

}


/* .next-main {
    background-color: #EBE9E6;
    height: 2210px;
} */

.container-main {
    width: 100%;
    max-width: 1200px;
    /* border: 1px solid black; */
    margin: auto;
    /* padding: 10px; */
    position: relative;
}


.secont-container-main {
    border: 1px solid black;
    /* background-color:palevioletred; */
    width: 894px;
    /* margin: auto; */
    margin-left: 103px;
    margin-right: 203px;
}

.header-container {
    background-color: white;
}


.header {
    /* border: 1px solid blue; */
    margin: auto;
    width: 100%;
    max-width: 1200px;
    /* justify-content: space-between; */
    position: relative;
    display: flex;

}

.header-left {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 112px;
    height: 36px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.header-logo {
    margin-right: 5px;
    width: 56px;
    height: 36px;
}

.header-title {
    font-weight: bold;
    color: #8F887C;
    font-family: "Josefin Sans";
    font-size: 28.736px;
    letter-spacing: 1.437px;
}

.header-pagi {
    width: 996px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.pagination {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    /* margin-left: 444px; */
    gap: 16px;
    width: 440px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 17px;
}


.pagination div {
    border: 1px solid #E0DFDA;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagin-1 {
    background-color: #000;
    color: white;
}

.arrow {
    /* border: 1px solid; */
    width: 30px;
    height: 30px;
    border-radius: 30px;

}


/* Submit Button */
.submit-button {
    margin-top: 9px;
    margin-bottom: 9px;
    /* margin-right: 121.5px; */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FEEEB4;
    border: 2px solid #F4D150;
    border-radius: 5px;
    font-family: Inter;
    width: 130px;
    height: 54px;
    margin-left: 72px;
}

.submit-button:hover {
    background-color: #e67e22;
}


.question-container {
    width: 560px;
    /* width: 1200px; */
    /* height: 1765px; */
    border: solid 1px blue;
    /* margin: 20px auto; */
    /* margin-top: 138px; */
    margin: auto;
    margin-top: 66px;
    margin-left: 332px;
    margin-bottom: 40px;
}


.question-header {
    /* border: solid 1px #108a10; */
    height: 19px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    /* margin-top: 40px; */
}

.question-header1 {
    /* border: solid 1px #108a10; */
    height: 19px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 40px;
}

.question-title {
    /* border: 1px solid blue; */
    font-size: 18px;
    width: 400px;
    color: #4C4B49;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
}

.question-score {
    width: 144px;
    text-align: right;
    /* border: solid 1px black; */
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;

}

.question-content {
    /* width: 480px; */
    background-color: #f5f5f5;
    /* border: solid 1px black; */
    border-radius: 12px;
    /* height: 321px; */
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.question-text {
    /* border: solid 1px red; */
    width: 480px;
}

.options {
    width: 236px;
    /* height: 132px; */
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.option_1 {
    /* border: 1px solid gold; */
    display: flex;
    align-items: flex-start;
    gap: 16px;
    /* width: 180px; */
}

.option_2 {
    /* border: 1px solid greenyellow; */
    /* width: 224px; */
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.option_3 {
    /* border: 1px solid blue; */
    /* width: 221px; */
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.option_4 {
    /* border: 1px solid black; */
    /* width: 236px; */
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

/* Filter */
.filter-container {
    float: left;
    /* margin: auto; */
    width: 284px;
    height: 375px;
    background-color: #F9F7F2;
    /* margin-left: 130px; */
    /* margin-top: 225px; */
    margin-top: 160px;
    border-radius: 12px;
    border-radius: 12px;
    border: 1px dashed #777671;
}

.filter {
    /* border: 1px solid black; */
    width: 197px;
    height: 259.621px;
    margin-left: 38px;
    margin-right: 49px;
    margin-top: 36px;
    margin-bottom: 79.38px;
}


.filter-title {
    /* border: 1px solid black; */
    margin-bottom: 30px;
    height: 19px;
    font-family: "Inria Sans";
    font-size: 16px;
    color: #4C4B49;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;
}


.filter-group {
    /* border: 1px solid red; */
    width: 196px;
    height: 77px;
    /* margin-bottom: 25px; */
}

.filter-label {
    width: 104px;
    height: 19px;
    margin-top: 0px;
    /* border: 1px solid black; */
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.filter-buttons {
    /* border: 1px solid black; */
    gap: 10px;
    width: 196px;
    height: 41px;
    display: flex;
}

.filter-button {
    background-color: #FEEEB4;
    width: 42px;
    /* height: 42px; */
    padding: 10px 10px;
    /* background-color: #f3f4f6; */
    border: 1px solid #F4D150;
    border-radius: 4px;
    /* cursor: pointer; */
    /* font-size: 14px; */
}

.filter-button.active {
    background-color: #4C4B49;
    border-color: black;
    color: #f5f5f5;
}

.filter-section {
    /* border: 1px solid blue; */
    width: 206px;
    /* height: 99px; */
    margin-top: 30px;
}

.filter-subtitle {
    /* border: 1px solid black; */
    font-family: "Inria Sans";
    font-size: 16px;
    width: 148px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 6px;
    font-style: normal;
    line-height: normal;
}

.filter-btn-group {
    /* margin: -30px 0px 48px 36px; */
    /* border: 1px solid black; */
    color: #000;
    margin-top: 16px;
}

.filter-btn1 {
    float: left;
    /* width: 43px; */
    /* height: 17px; */
    color: #F9F7F2;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: 1px solid #4C4B49;
    background: #4C4B49;
    margin-right: 6px;
}

.filter-btn2 {
    width: 109px;
    height: 29px;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
    /* padding: 10px; */
}

.filter-btn3 {
    width: 132px;
    height: 29px;
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 54px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Inria Sans";
}

/* Mobile View */

.mobile-view{
    border: 1px solid black;
    /* height: 74px; */
    width: 576px;
}
.questioncard{
    width: 894px;
    margin-bottom: 136px;
}

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

.dots{
    color: #1F1E1C;
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
}


@media (max-width:576px) {
    .mobile-view {
        display: block;
        
    }


    .desktop-view {
        display: none;
    }
}

@media (max-width: 576px) {
    .header {
        /* width: 100%;
        /* height: 72px; */
        border: 1px solid blue;
        /* display: flex; */
    }

    .header-left {
        border: 1px solid black;
        width: 112px;
        height: 36px;
        margin-top: 18px;
        margin-bottom: 18px;
        margin-left: 214px;
        margin-right: 150px;
        justify-content: center;
        align-items: center;
    }

    .submit-button {
        display: none;
    }

    .pagination{
        border: 1px solid black;
        margin: auto;
        width: 322px;
        /* margin-top: 20px;
        margin-bottom: 24px; */
    }
    /* .desktop-view {
        display: none;
    }


    .mobile-viwe{
        display: block;
    } */
    .header-pagi {
        flex-direction: column;
        align-items: flex-start;
    }
}