
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 17px;
    gap: 16px;
}

@media (max-width:576px) {
    .pagination {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        gap: 26px;

    }
}

.table {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 576px) {
    .table {
        display: flex;
        margin-top: 20px;
    }


}

.left {
    width: 28px;
    border-radius: 30px;
}


@media (max-width: 576px) {
    .left {
        margin-left: 0px;
        display: none;
    }
}

.right {
    width: 30px;
    border-radius: 30px;
    /* margin-left: 16px; */

}
@media (max-width: 576px) {
    .right {
        width: 30px;
        border-radius: 30px;
        /* margin-left: 26px; */
    
    }   
}


.Pagination-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 576px) {
    .Pagination-box {
        padding-top: 20px;
        padding-bottom: 24px;
        border-top: 2px solid #E0DFDA;
    }
}

@media(max-width: 576px) {
    .dotespace {
        width: 10px;
        height: 30px;
        display: flex;
        border: none;

    }
}


.pageNo {
    border: 2px solid #E0DFDA;
    width: 30px;
    font-size: 14px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    border-radius: 50%;
    /* margin-left: 16px; */
    color: #1F1E1C;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

@media(max-width: 576px) {
    .pageNo {
        justify-content: center;
        align-items: center;
        /* margin-left: 26px; */
    }
}


.previous {
    display: none;
}

@media(max-width: 576px) {
    .previous {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        margin-left: 0px
    }
}


.dotespace {
    display: none;
}


.logo-pagination {
    display: flex;
    width: 997px;
    height: 72px;
    justify-content: space-between;
    /* padding: 18px; */
}


@media (max-width: 576px) {
    .logo-pagination {
        display: block;
        width: 100%;
        background: var(--Light-a, #FCFAFA);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
        /* padding: 18px; */
        height: auto;
    }
}
@media(max-width: 576px) {
    .dotespace {
        width: 10px;
        height: 30px;
        display: flex;
        border: none;

    }


    .pointer {
        width: 30px;
        background: #4C4B49;
        color: #EBE9E6;
        border: 2px solid #4C4B49;

    }


    .des-only {
        display: none;
    }

    .number {
        display: none;
    }

}
